{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ websiteName }}</title>

        <!-- meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pace.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <style>
            .entry-meta span{
                color: black;
            }
            .up-toolbar{
                padding: 0;
                list-style: none;
                font-size: 0;
                margin: 50px auto 0;
                width: 100%;
                height: 50px;
            }
            .up-toolbar li{
                display:inline-block;
                margin-right:-1px;
                line-height:20px;
            }
            .up-toolbar .website-name{
                width: 20%;
                color: black;
                text-decoration: none;
                text-align: left;
                float: left;
                font-size: 30px;
            }
            .up-toolbar .admin-btn{
                width: 80%;
                color: black;
                text-decoration: none;
                text-align: right;
                float: right;
                font-size: 30px;
            }
            .up-toolbar li a{
                font-family:"Times New Roman",Georgia,Serif;
            }
        </style>
        <!-- js -->
        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/pace.min.js' %}"></script>
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <header id="site-header">
                <div class="row">
                    <ul class="up-toolbar">
                        <li  class="website-name">
                            <a href="/">{{ websiteName }}</a>
                        </li>
                        <li class="admin-btn"><a href="/admin">控制台</a></li>
                    </ul>
                </div>
            </header>
        </div>

        <div class="content-body">
            <div class="container">
                <div class="row">

                    <main class="col-md-8">
                        {% if not posts %}
                           <p class="no-articles">暂无文章</p>
                        {% else %}
                            {% for post in posts %}
                                <article class="post post-{{ post.id }}">
                                    <header class="entry-header">
                                        <h1 class="entry-title">
                                            <p>{{ post.title}}</p>
                                        </h1>
                                        <div class="entry-meta">
                                            <span class="post-category">{{ post.author.name}}</span>
                                            <span class="post-date">
                                                <span class="create-time">{{ post.createTime }}</span>
                                                <span class="modified-time">{{ post.modifiedTime }}</span>
                                            </span>
                                            <span class="views-count">浏览量：{{ post.views }} </span>
                                        </div>
                                    </header>
                                    <div class="entry-content clearfix">
                                        <p>{{ post.excerpt }}</p>
                                        <div class="read-more cl-effect-14">
                                            <a href="/articles/{{ post.id }}" class="more-link">ENTER THE ARTICLE <span class="meta-nav">→</span></a>
                                        </div>
                                    </div>
                                </article>
                           {% endfor %}
                        {% endif %}

                    </main>

                    <aside class="col-md-4">

                        <div class="widget widget-recent-posts">
                            <h3 class="widget-title">最新文章</h3>
                            {% if not newest_posts %}
                                <p>暂无更新</p>
                            {% else %}
                                <ul>
                                {% for post in newest_posts %}
                                    <li><a href="/articles/{{ post.id }}">{{ post.title }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="widget widget-archives">
                            <h3 class="widget-title">类别</h3>
                            {% if not categories %}
                                <p>暂无分类</p>
                            {% else %}
                                <ul>
                                    {% for category in categories %}

                                            <li>
                                                <a href="/categories/{{ category.id }}">{{ category.categoryName}}</a>
                                            </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="widget widget-tag-cloud">
                            {% if not tags %}
                                <p>暂无tag</p>
                            {% else %}
                                <h3 class="widget-title">标签云</h3>
                                <ul>
                                    {% for tag in tags %}
                                        <li>
                                            <a href="/tags/{{ tag.id }}">{{ tag.tagName }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                    </aside>

                </div>
            </div>
        </div>

        <footer id="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p class="author">&copy -信石-SCUT-</p>
                            <a class="ICP" href="http://www.beian.miit.gov.cn/" style="font-size: 60%;">粤ICP备 20032699号</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>

    </body>
</html>
